{:entity :oc_lineas
 :title :entity/oc_lineas
 :table "oc_lineas"
 :connection :default
 :rights ["U" "A" "S"]
 :mode :parameter-driven
 :menu-order 41
 :menu-icon "bi bi-list-ul"
 :menu-category :MRP
 :menu-category-label :mrp/title
  :audit? true
  :hooks {:before-save :mrp.hooks.oc-lineas/before-save
          :after-save  :mrp.hooks.oc-lineas/after-save
          :before-delete :mrp.hooks.oc-lineas/before-delete}

 :fields [{:id :id :label "ID" :type :hidden}
          {:id :oc_id :label :oc_lineas/oc_id :type :fk
           :fk :ordenes_compra :fk-field [:codigo] :fk-sort [:codigo]
           :hidden-in-grid? true}
          {:id :oc_codigo :label :oc_lineas/oc_id :type :text :grid-only? true}
          {:id :material_id :label :oc_lineas/material_id :type :fk :required? true
           :fk :materiales :fk-field [:codigo :nombre] :fk-separator " - "
           :fk-sort [:codigo]}
          {:id :cantidad :label :oc_lineas/cantidad :type :decimal :required? true}
          {:id :precio_unitario :label :oc_lineas/precio_unitario :type :decimal}
          {:id :notas :label :oc_lineas/notas :type :textarea}]

 :queries {:list "SELECT l.*, o.codigo AS oc_codigo, m.codigo || ' - ' || m.nombre AS material_nombre FROM oc_lineas l LEFT JOIN ordenes_compra o ON l.oc_id = o.id LEFT JOIN materiales m ON l.material_id = m.id ORDER BY l.id DESC"
           :get "SELECT l.*, o.codigo AS oc_codigo, m.codigo || ' - ' || m.nombre AS material_nombre FROM oc_lineas l LEFT JOIN ordenes_compra o ON l.oc_id = o.id LEFT JOIN materiales m ON l.material_id = m.id WHERE l.id = ?"}

 :actions {:new true :edit true :delete true}}
